{{#each data}}
    <li class="accordion-item1">
        <a href="#" class="item-link item-content trigger-show-details" data-sysuic="{{sysuic}}" data-uic="{{uic}}">
            <div class="item-media">
                {{#if gender}}
                    {{#js_compare "this.gender === 'Male'"}}

                        <span class="item-media-img  bg-lightgreen"><i class="fa fa-male" for="gender-male"></i></span>
                    {{/js_compare}}
                    {{#js_compare "this.gender === 'Female'"}}
                        <span class="item-media-img  bg-pink"><i class="fa fa-female" for="gender-female"></i></span>
                    {{/js_compare}}

                    {{#js_compare "this.gender === 'TG'"}}
                        <span class="item-media-img  bg-red" ><img style="width:25px;padding-left:8px;" src="images/transgender.svg"/></span>
                    {{/js_compare}}


                {{else}}
                    <span  class="item-media-img  bg-gray" ><i class="fa fa-user" aria-hidden="true"></i></span>
                {{/if}}
            </div>
            <div class="item-inner">
                <div class="item-title-row">
                    <div class="item-title">{{nickname}}</div>
                    <div class="item-after"></div>
                </div>
                <div class="item-subtitle">{{#if hotspotname}} {{hotspotname}},{{/if}} {{yearofbirth}}</div>

                <div class="item-text">

                </div>
            </div>
        </a>
        <!--<div class="accordion-item-content">
            <div class="content-block">
                <div class="row">

                    <div class="col-50 font-bold"><span data-i18n="myclients.regdate">Registration Date </span> :</div>
                    <div class="col-50">{{registrationdate}}</div>
                </div>
                <div class="row">
                    
                    <div class="col-50 font-bold"><span data-i18n="myclients.placeOfReg">Place Of Registration </span> :</div>
                    <div class="col-50">{{placeofbirth}}</div>
                </div>
                <div class="row">
                    
                    <div class="col-50 font-bold"><span data-i18n="myclients.registeredBy">Registered By </span> :</div>
                    <div class="col-50">{{byuser}}</div>
                </div>
                {{#if dateofreferral}}
                    <div class="row">
                        <div class="col-50 font-bold"><span data-i18n="myclients.dateOfReferral">Date OF Referral </span> :</div>
                        <div class="col-50">{{dateofreferral}}</div>
                    </div>
                {{/if}}
                {{#if referredby}}
                    <div class="row">
                        <div class="col-50 font-bold"><span data-i18n="myclients.referredBy">Referred By </span> :</div>
                        <div class="col-50">{{referredby}}</div>
                    </div>
                {{/if}}
                
                <div class="buttons-row margin-top-10">
                    <button type="button" class="button button-raised button-fill trigger-case-history create-popup" data-uic="{{uic}}" data-sysuic="{{sysuic}}" data-index="{{@index}}" data-i18n="profile.casehistory">Last Case History</button>
                    <button type="button" class="button button-raised button-fill trigger-show-details"  data-sysuic="{{sysuic}}" data-uic="{{uic}}" data-i18n="profile.services">Services</button>
                </div>

            </div>
        </div>-->
    </li>
{{/each}}  
    