<div data-page="duplicate-uic-details" class="page navbar-fixed">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <!--<a href="#" class="open-panel link icon-only" data-panel="left"><i class="icon icon-bars"></i></a>-->
                <a href="#" class="trigger-close-popup link icon-only"><i class="icon icon-back"></i></a>
            </div>
            <div class="center"><span data-i18n="{{title}}"></span></div>
            <div class="right"></div>
        </div>    
    </div>
    
<!--    <a href="#" class="floating-button"><i class="ion-arrow-right-c"></i></a>-->
    
    <div class="page-content">
        
        <div class="patienstList-container1"></div>
        
        <div class="content-block">
            <a href="#" class="button button-raised button-fill trigger-create-new" data-i18n="duplicate.btnCreateNew">Create New Client</a>
        </div>
    </div>
</div>