<div class="page" data-page="facility-details">

    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">

                <a href="#" class="trigger-close-popup link icon-only"><i class="icon icon-back"></i></a>
            </div>
            <div class="center"></div>
            <div class="right">
                <a href="#" data-popover=".popover-links" class="link open-popover"><i class="fa fa-language" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <a href="#" class="floating-button trigger-set-facility"><i class="ion-checkmark-round"></i></a>
    
    <div class="page-content">
            <div class="list-block media-list" style="margin-top:55px;">
              <ul>
                <li>
                  <a href="#" class="item-link1 item-content">
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">{{name}}</div>
                      </div>
                      <div class="item-subtitle">{{address1}}, {{privince}}</div>
                      <div class="item-text">{{facilityType.name}}</div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
        </div>    
</div>