<div data-page="section" class="page navbar-fixed">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="trigger-close-qr link icon-only"><i class="icon icon-back"></i></a>
            </div>
            <div class="center"><span data-i18n="{{title}}"></span></div>
            <div class="right"></div>
        </div>    
    </div>

    <div class="page-content">
        <div class="content-block generated-uic" style="margin-top:0px;">
            <div class="row" style="padding-top:10px;">
                <div class="col-25">&nbsp;</div>
                <div class="col-50 center">
                    <div class="chip">
                        <div class="chip-label" style="font-size:20px;">{{uic}}</div>
                    </div>
                </div>
                <div class="col-25"></div>
            </div>
            <!--<div class="row">
                <div class="col-25">&nbsp;</div>
                <div class="col-50 center">
                    <p><img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{uic}}" /></p>
                </div>
                <div class="col-25"></div>
            </div>-->

        </div>
    </div>
</div>

