<div data-page="section" class="page navbar-fixed">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <!--<a href="#" class="open-panel link icon-only" data-panel="left"><i class="icon icon-bars"></i></a>-->
                <a href="#" class="close-popup link icon-only"><i class="icon icon-back"></i></a>
            </div>
            <div class="center">{{title}}</div>
            <div class="right"></div>
        </div>    
    </div>
    
    <a href="#" id="trigger-popup" class="floating-button close-popup"><i class="ion-checkmark-round"></i></a>
    
    <div class="page-content">
        <div class="content-block" style="margin-top:0px;">
            <div class="list-block inputs-list">
                <div id="aplaca-container"></div>
            </div>
        </div>
    </div>
</div>