<div class="page" data-page="add-hotspot">

    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">

                <a href="#" class="trigger-close-popup link icon-only"><i class="icon icon-back"></i></a>
            </div>
            <div class="center"><span data-i18n="addnearme.name"> Add Hotspot</span></div>
            <div class="right">
            </div>
        </div>
    </div>
    <a href="#" class="floating-button trigger-set-hotspot"><i class="ion-checkmark-round"></i></a>
    
    <div class="page-content add-nearme">
        <div class="content-block" style="margin-top:55px;">
            <form id="frm-hotspot" name="frm-hotspot" class="list-block inputs-list">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></div>
                            <div class="item-inner"> 
                                <div class="item-title label"><span data-i18n="addnearme.hotspotname">Hotspot Name</span></div>
                                <div class="item-input item-input-field">
                                    <input type="text" name="hotspot_name" />
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </form>
<!--            <div class="_formattedAddress"></div>-->
        </div>
        <div id="anmmap">
        </div>       
    </div>
</div>