<div class="page" data-page="SR-ART">

    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="link icon-only trigger-back"><i class="icon icon-back"></i></a>
            </div>
            <div class="center"><span data-i18n="SR-ART.name">ART ENROLLMENT</span></div>
            <div class="right">
                <a href="#" data-popover=".popover-links" class="link open-popover"><i class="fa fa-language" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <a href="#" class="floating-button color-indigo trigger-back"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    <div class="page-content">

        <form id="SR_ART" name="SR_ART" class="store-data list-block inputs-list">
            <ul>
                
                <li>
                    <div class="item-content">
                       
                        <div class="item-inner">
                            <div class="item-title label"><span data-i18n="SR-ART.patientEnrolledInCare">Patient enrolled in care</span></div>
                            <div class="item-input">
                                <div class="row">
                                    <div class="col-33">
                                        <span class="floating-button-custom bg-green"><i class="fa fa-check" aria-hidden="true"></i></span>
                                        <label class="label-radio label-radio-keypop item-content top-12 no-ripple" style="padding-left: 16px !important;">
                                            <input type="radio" name="GbbOYGML3Xx" value="1" style="display:block;width:0px;margin:0px;">
                                            <div class="item-media"><i class="icon icon-form-radio"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title"></div>
                                            </div>
                                        </label>
                                    </div>

                                    <div class="col-33">
                                        <span class="floating-button-custom bg-red"><i class="fa fa-times" aria-hidden="true"></i></span>
                                        <label class="label-radio label-radio-keypop item-content top-12 no-ripple" style="padding-left: 16px !important;">
                                            <input type="radio" name="GbbOYGML3Xx" value="2">
                                            <div class="item-media"><i class="icon icon-form-radio"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title"></div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-33">&nbsp;</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner"> 
                            <div class="item-title label"><span data-i18n="SR-ART.artnumber">ART number</span></div>
                            <div class="item-input">
                                <input type="text" name="XI8at21LXbg" />
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">

                        <div class="item-inner"> 
                            <div class="item-title label"><span data-i18n="SR-ART.enrollmentReason">Reason for not enrolling</span></div>
                            <div class="item-input">
                                <select name="TUfI4Ft8oWC">
                                    <option value="">-</option>
                                    <option value="1" data-i18n="SR-ART.alreadyEnrolled">Already enrolled</option>
                                    <option value="2" data-i18n="SR-ART.notWillingToParticipate">Not willing to participate</option>
                                    <option value="3" data-i18n="SR-ART.expired">Expired</option>
                                    <option value="4" data-i18n="SR-ART.lostToFollow">Lost to follow</option>
                                    <option value="5" data-i18n="SR-ART.migrated">Migrated</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </form>
        <div class="content-block">
            <a href="#" class="button button-big button-fill button-raised color-red trigger-sr-art"><span data-i18n="REF-HIV.submit">Submit</span></a>
        </div>
    </div>
</div>