<div class="page" data-page="SR-HE">

    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="trigger-back link icon-only"><i class="icon icon-back"></i></a>
            </div>
            <div class="center"><span data-i18n="SR-HE.name">HEALTH EDUCATION</span></div>
            <div class="right">
                <a href="#" data-popover=".popover-links" class="link open-popover"><i class="fa fa-language" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <a href="#" class="floating-button trigger-back color-indigo"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    <div class="page-content">

        <form id="SR_HE" name="SR_HE" class="store-data list-block inputs-list">
             
            <ul>
    
                <li>
                    <label class="label-checkbox item-content">
                        <input type="checkbox" name="DzsrLczDWKc" value="on" />
                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                        <div class="item-inner">
                            <div class="item-title"><span data-i18n="SR-HE.h1">Health education 1</span></div>
                        </div>
                    </label>
                </li>
                <li>
                    <label class="label-checkbox item-content">
                        <input type="checkbox" name="mIshd4iC2B8" value="on" />
                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                        <div class="item-inner">
                            <div class="item-title"><span data-i18n="SR-HE.h2">Health education 2</span></div>
                        </div>
                    </label>
                </li>
                <li>
                    <label class="label-checkbox item-content">
                        <input type="checkbox" name="coz9V1JBKKv" value="on" />
                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                        <div class="item-inner">
                            <div class="item-title"><span data-i18n="SR-HE.h3">Health education 3</span></div>
                        </div>
                    </label>
                </li>
                <li>
                    <label class="label-checkbox item-content">
                        <input type="checkbox" name="vwxaY0KbOQW" value="on" />
                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                        <div class="item-inner">
                            <div class="item-title"><span data-i18n="SR-HE.h4">Health education 4</span></div>
                        </div>
                    </label>
                </li>
                
                
            </ul>
            <div class="row no-gutter">
                <div class="item-title label" data-i18n="SR-IEC.pamphletDistributed" style="padding-left:10px;">Pamphlet distributed</div>
                <div class="col-20"><img src="images/pamphlet.svg" style="padding-left:10px;width:82px;" /></div>
                <div class="col-10">&nbsp;</div>
                <div class="col-20 margin-top-35">
                    <a href="#" class="button button-fill color-gray btn-decrement altera decrescimo">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-20 margin-top-35">
                    <input type="number" name="tgcYrB1KuS6" style="border: 1px solid rgba(0, 0, 0, 0.65);text-align: center;" />
                </div>
                <div class="col-20 margin-top-35">
                    <a href="#" class="button button-fill color-gray btn-increment altera acrescimo">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-10">&nbsp;</div>
                
            </div>
            <ul>

                
                <li>
                    <div class="item-content">
                        <div class="item-inner"> 
                            <div class="item-title label"><span data-i18n="servcies.reasons">Reasons for declined</span></div>
                            <div class="item-input">

                                <select name="UphWcAbulLj">
                                    <option value="">-</option>
                                    <option value="1">Reason 1</option>
                                    <option value="2">Reason 2</option>
                                    <option value="3">Reason 3</option>

                                </select>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            
            <br />
            <br />
            
            <div class="row no-gutter">
                <div class="item-title label" data-i18n="SR-IEC.broucherDistributed" style="padding-left:10px;">Brochure distributed</div>
                <div class="col-20"><img src="images/road-map.svg" style="padding-left:10px;width:82px;" /></div>
                <div class="col-10">&nbsp;</div>
                <div class="col-20 margin-top-35">
                    <a href="#" class="button button-fill color-gray btn-decrement altera1 decrescimo">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-20 margin-top-35">
                    <input type="number" name="BwhreghOH97" style="border: 1px solid rgba(0, 0, 0, 0.65);text-align: center;" />
                </div>
                <div class="col-20 margin-top-35">
                    <a href="#" class="button button-fill color-gray btn-increment altera1 acrescimo">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-10">&nbsp;</div>
                
            </div>
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-inner"> 
                            <div class="item-title label"><span data-i18n="servcies.reasons">Reasons for declined</span></div>
                            <div class="item-input">

                                <select name="ovejv2qy2rr">
                                    <option value="">-</option>
                                    <option value="1">Reason 1</option>
                                    <option value="2">Reason 2</option>
                                    <option value="3">Reason 3</option>

                                </select>
                            </div>
                        </div>
                    </div>
                </li>
                 
            </ul>
        </form>
        <div class="content-block">
            <a href="#" class="button button-big button-fill button-raised color-red trigger-sr-he"><span data-i18n="REF-HIV.submit">Submit</span></a>
        </div>
    </div>
</div>