<div class="page" data-page="REF-HIV">

    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="trigger-back link icon-only"><i class="icon icon-back"></i></a>
            </div>
            <div class="center"><span data-i18n="REF-HIV.name">HIV TESTING CENTRE</span></div>
            <div class="right">
                <a href="#" data-popover=".popover-links" class="link open-popover"><i class="fa fa-language" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <a href="#" class="floating-button trigger-back color-indigo"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    <div class="page-content">

        <form id="REF_HIV" name="REF_HIV" class="store-data list-block inputs-list">
            <ul>
                <li>
                    <div class="item-content">
                        <!--                            <div class="item-media" style="padding-bottom: 35px;"><i class="fa fa-thermometer-half fa-2x" aria-hidden="true"></i></div>-->
                        <div class="item-inner">
                            <div class="item-title label"><span data-i18n="REF-HIV.everTested">Ever Tested ?</span></div>
                            <div class="item-input margin-top-10">
                                <div class="row">
                                    <div class="col-33">
                                        <span class="floating-button-custom bg-green"><i class="fa fa-check" aria-hidden="true"></i></span>
                                        <label class="label-radio label-radio-keypop item-content top-12 no-ripple" style="padding-left: 16px !important;">
                                            <input type="radio" name="pFyMZEjVJPl" value="1" style="display:block;width:0px;margin:0px;">
                                            <div class="item-media"><i class="icon icon-form-radio"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title"></div>
                                            </div>
                                        </label>
                                    </div>

                                    <div class="col-33">
                                        <span class="floating-button-custom bg-red"><i class="fa fa-times" aria-hidden="true"></i></span>
                                        <label class="label-radio label-radio-keypop item-content top-12 no-ripple" style="padding-left: 16px !important;">
                                            <input type="radio" name="pFyMZEjVJPl" value="2">
                                            <div class="item-media"><i class="icon icon-form-radio"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title"></div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-33">&nbsp;</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="item-content">
                       
                        <div class="item-inner">
<!--
                            <div class="row">
                                <div class="col-40">
-->
                                    <div class="item-title label" data-i18n="REF-HIV.periodOfTesting">Period of testing</div>
                                    <div class="item-input item-input-field">
                                        <select name="HdFrLpdSs4Z" class="required">
                                            <option value="">-</option>
                                            <option value="1" data-i18n="REF-HIV.lessthan3month"></option>
                                            <option value="1" data-i18n="REF-HIV.3-6months">3-6 months</option>
                                            <option value="2" data-i18n="REF-HIV.6-9months">6-9 months</option>
                                            <option value="3" data-i18n="REF-HIV.9-12months">9-12 months</option>
                                            <option value="4" data-i18n="REF-HIV.graterthan12months"> >12 months</option>
                                        </select>
                                    </div>
<!--
                                </div>
                                <div class="col-10">&nbsp;</div>
                                <div class="col-50">
                                    <div class="item-title label" data-i18n="REF-HIV.yearOfTesting">Year of testing</div>
                                    <div class="item-input item-input-field">
                                        <select name="oP2UMRUQaRt">
                                            <option value="">-</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
-->

                        </div>
                    </div>
                </li>

                <li>
                    <div class="item-content">
                        <!--                            <div class="item-media" style="padding-bottom: 35px;"><i class="fa fa-2x" style="font-size: 25px;"></i></div>-->
                        <div class="item-inner">
                            <div class="item-title label"><span data-i18n="REF-HIV.testingServices">Testing Services</span></div>
                            <div class="item-input margin-top-10">
                                <div class="row">
                                    <div class="col-25">
                                        <span class="floating-button-custom bg-gray"><img src="images/on-site_1.png" width="50" /></span>
                                        <br />
                                        <span class="label" data-i18n="REF-HIV.onsite">On Site</span>
                                        <label class="label-radio label-radio-keypop item-content top-12 no-ripple" style="padding-left: 16px !important;">
                                            <input type="radio" name="DTrfQCylagK" value="1" style="display:block;width:0px;margin:0px;">
                                            <div class="item-media"><i class="icon icon-form-radio"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title"></div>
                                            </div>
                                        </label>
                                    </div>

                                    <div class="col-25">
                                        <span class="floating-button-custom bg-gray"><img src="images/referral_1.png" width="50" /></span>
                                        <br />
                                        <span class="label" data-i18n="REF-HIV.referral">Referral</span>
                                        <label class="label-radio label-radio-keypop item-content top-12 no-ripple" style="padding-left: 16px !important;">
                                            <input type="radio" name="DTrfQCylagK" value="2">
                                            <div class="item-media"><i class="icon icon-form-radio"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title"></div>
                                            </div>
                                        </label>
                                    </div>

                                    <div class="col-50">
                                        
                                        <span class="floating-button-custom bg-gray" style="margin-left: 27px;"><img src="images/accompanied-referral_1.png" width="50" /></span>
                                        <br />
                                        <span class="label" data-i18n="REF-HIV.accReferral">Accompanied Referral</span>
                                        <label class="label-radio label-radio-keypop item-content top-12 no-ripple" style="padding-left: 45px !important;">
                                            <input type="radio" name="DTrfQCylagK" value="3" class="center-required">
                                            <div class="item-media"><i class="icon icon-form-radio"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title"></div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <!--                            <div class="item-media"><i class="fa fa-compass fa-2x" aria-hidden="true"></i></div>-->
                        <div class="item-inner">
                            <div class="item-title label" data-i18n="REF-HIV.htcReferralCenter">Select Referal HTC Centre <i class="fa fa-map-marker" aria-hidden="true"></i></div>
                            <div class="item-after1 nm-facilities trigger-nearme"><span class="badge"><i class="fa fa-map-marker" aria-hidden="true"></i></span></div>
                            <div class="item-input item-input-field">
                                <select name="hHMXmJuoOUn" class="required">
                                    <option value="">-</option>

                                </select>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </form>
        <div class="content-block">
            <a href="#" class="button button-big button-fill button-raised color-red trigger-ref-hiv"><span data-i18n="REF-HIV.submit">Submit</span></a>
<!--            <a href="#" class="button button-big button-fill button-raised color-indigo trigger-back" style="margin-top: 20px;"><span data-i18n="service-home.back">Back</span></a>-->
        </div>
        
    </div>
</div>