<div class="page" data-page="SR-HTC">

    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="link icon-only trigger-back"><i class="icon icon-back"></i></a>
            </div>
            <div class="center"><span data-i18n="SR-HTC.name">TEST RESULT</span></div>
            <div class="right">
                <a href="#" data-popover=".popover-links" class="link open-popover"><i class="fa fa-language" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <a href="#" class="floating-button color-indigo trigger-back"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    <div class="page-content">

        <form id="SR_HTC" name="SR_HTC" class="store-data list-block inputs-list">
            <ul>
                <li>
                    <div class="item-content">
<!--                        <div class="item-media"><img src="images/mortar.svg" class="services-svg"/></div>-->
                        <div class="item-inner"> 
                            <div class="item-title label"><span data-i18n="SR-HTC.typeOfTest">Type of HIV Test</span></div>
                            <div class="item-input">
                                <select name="aDzHAj64SsC" class="required">
                                    <option value="">-</option>
                                    <option value="1" data-i18n="SR-HTC.elisa">ELISA</option>
                                    <option value="2" data-i18n="SR-HTC.rapid">RAPID</option>
<!--                                    <option value="3" data-i18n="SR-HTC.other">Other specify</option>-->
                                </select>
                            </div>
                        </div>
                    </div>
                </li>
                <!--<li id="radpidTestOptions">
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label"><span data-i18n="SR-HTC.testdone">Test type</span></div>
                            <div class="item-input">
                                <select name="Sop8n4Bf7Oj">
                                    <option value="">-</option>
                                    <option value="1" data-i18n="SR-HTC.determine">Determine</option>
                                    <option value="2" data-i18n="SR-HTC.uni-gold ">Uni-gold</option>
                                    <option value="3" data-i18n="SR-HTC.stat-pak">Stat-pak</option>
                                </select>
                                
                            </div>
                        </div>
                    </div>
                </li>-->
                <li id="test1" style="display:none;">
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label"><span data-i18n="SR-HTC.determine">Determine</span></div>
                            <div class="item-input">
                                <div class="row row1">

                                    <label class="label-radio label-radio-keypop item-content top-12 no-ripple" style="padding-left: 16px !important;">
                                        <input type="radio" name="JDb81Myh4LW" value="1" class="required" style="display:block;width:0px;margin:0px;">
                                        <div class="item-media"><i class="icon icon-form-radio"></i></div>
                                        <div class="item-inner" style="margin-left:0px;padding-top:13px;">
                                            <img src="images/test1-valide+ve.png" width="130"/>
                                            <span style="font-size: 16px;margin-left: 10px;" data-i18n="SR-HTC.reactive">Reactive</span>
                                            <div class="item-title"></div>
                                        </div>
                                    </label>
                                    <label class="label-radio label-radio-keypop item-content top-12 no-ripple" style="padding-left: 16px !important;">
                                        <input type="radio" name="JDb81Myh4LW" value="2" class="required">
                                        <div class="item-media"><i class="icon icon-form-radio"></i></div>
                                        <div class="item-inner" style="margin-left:0px;padding-top:13px;">
                                            <img src="images/test1-ve.png" width="130"/>
                                            <span style="font-size: 16px;margin-left: 10px;" data-i18n="SR-HTC.non-reactive">Non Reactive</span>
                                            <div class="item-title"></div>
                                        </div>
                                    </label>
                                    <label class="label-radio label-radio-keypop item-content top-12 no-ripple" style="padding-left: 16px !important;">
                                        <input type="radio" name="JDb81Myh4LW" value="3" class="required">
                                        <div class="item-media"><i class="icon icon-form-radio"></i></div>
                                        <div class="item-inner" style="margin-left:0px;padding-top:13px;">
                                            <img src="images/test1-Invalid-ve.png" width="130"/>
                                            <span style="font-size: 16px;margin-left: 10px;" data-i18n="SR-HTC.invalid">Invalid</span>
                                            <div class="item-title"></div>
                                        </div>
                                    </label>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                
                <li id="test2" style="display:none;">
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label"><span data-i18n="SR-HTC.uni-gold">Uni-gold</span></div>
                            <div class="item-input">
                                <div class="row1">
                                    <label class="label-radio label-radio-keypop item-content top-12 no-ripple" style="padding-left: 16px !important;">
                                        <input type="radio" name="dnFxSkuWLUo" value="1" style="display:block;width:0px;margin:0px;">
                                        <div class="item-media"><i class="icon icon-form-radio"></i></div>
                                        <div class="item-inner" style="margin-left:0px;padding-top:13px;">
                                            <img src="images/test2-valide+ve.png" width="30"/>
                                            <span style="font-size: 16px;margin-left: 10px;" data-i18n="SR-HTC.reactive">Reactive</span>
                                            <div class="item-title"></div>
                                        </div>
                                    </label>
                                    <label class="label-radio label-radio-keypop item-content top-12 no-ripple" style="padding-left: 16px !important;">
                                        <input type="radio" name="dnFxSkuWLUo" value="2">
                                        <div class="item-media"><i class="icon icon-form-radio"></i></div>
                                        <div class="item-inner" style="margin-left:0px;padding-top:13px;">
                                            <img src="images/test2-ve.png" width="30"/>
                                            <span style="font-size: 16px;margin-left: 10px;" data-i18n="SR-HTC.non-reactive">Non Reactive</span>
                                            <div class="item-title"></div>
                                        </div>
                                    </label>
                                    <label class="label-radio label-radio-keypop item-content top-12 no-ripple" style="padding-left: 16px !important;">
                                        <input type="radio" name="dnFxSkuWLUo" value="3">
                                        <div class="item-media"><i class="icon icon-form-radio"></i></div>
                                        <div class="item-inner" style="margin-left:0px;padding-top:13px;">
                                            <img src="images/test2-Invalid-ve.png" width="30"/>
                                            <span style="font-size: 16px;margin-left: 10px;" data-i18n="SR-HTC.invalid">Invalid</span>
                                            <div class="item-title"></div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="test3" style="display:none;">
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label"><span data-i18n="SR-HTC.stat-pak">Stat-pak</span></div>
                            <div class="item-input">
                                <div class="row1">
                                    <label class="label-radio label-radio-keypop item-content top-12 no-ripple" style="padding-left: 16px !important;">
                                        <input type="radio" name="xbVZviYxWFI" value="1" style="display:block;width:0px;margin:0px;">
                                        <div class="item-media"><i class="icon icon-form-radio"></i></div>
                                        <div class="item-inner" style="margin-left:0px;padding-top:13px;">
                                            <img src="images/test3-valide+ve.png" width="50"/>
                                            <span style="font-size: 16px;margin-left: 10px;" data-i18n="SR-HTC.reactive">Reactive</span>
                                            <div class="item-title"></div>
                                        </div>
                                    </label>
                                    <label class="label-radio label-radio-keypop item-content top-12 no-ripple" style="padding-left: 16px !important;">
                                        <input type="radio" name="xbVZviYxWFI" value="2">
                                        <div class="item-media"><i class="icon icon-form-radio"></i></div>
                                        <div class="item-inner" style="margin-left:0px;padding-top:13px;">
                                            <img src="images/test3-ve.png" width="50"/>
                                            <span style="font-size: 16px;margin-left: 10px;" data-i18n="SR-HTC.non-reactive">Non Reactive</span>
                                            <div class="item-title"></div>
                                        </div>
                                    </label>
                                    <label class="label-radio label-radio-keypop item-content top-12 no-ripple" style="padding-left: 16px !important;">
                                        <input type="radio" name="xbVZviYxWFI" value="3">
                                        <div class="item-media"><i class="icon icon-form-radio"></i></div>
                                        <div class="item-inner" style="margin-left:0px;padding-top:13px;">
                                            <img src="images/test3-Invalid-ve.png" width="50"/>
                                            <span style="font-size: 16px;margin-left: 10px;" data-i18n="SR-HTC.invalid">Invalid</span>
                                            <div class="item-title"></div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li id="liInfoMessage" style="display:none;">
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title color-red" data-i18n="SR-HTC.msgReactive">This Client Needs to be referred to an Enrollment & Care centre. Please refer him / her to a centre from list below.</div>
                        </div>
                    </div>
                </li>
<!--
                <li>
                    <div class="item-content">

                        <div class="item-inner"> 
                            <div class="item-title label" data-i18n="SR-HTC.hivTestReading">HIV Test Reading</div>
                            <div class="item-input">
                                <input type="text" name="LCmdRCJcFuz" />
                            </div>
                        </div>
                    </div>
                </li>
-->
                <li id="hivTestResults" style="display:none;">
                    <div class="item-content">
                       
                        <div class="item-inner">
                            <div class="item-title label"><span data-i18n="SR-HTC.hivTestResult">HIV Test Result</span></div>
                            <div class="item-input">
                                <div class="row row1">
                                    <div class="col-33">
                                        <span class="floating-button-custom bg-red"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                                        <label class="label-radio label-radio-keypop item-content top-12 no-ripple" style="padding-left: 16px !important;">
                                            <input type="radio" name="ZvKUwXb6tJn" value="1" style="display:block;width:0px;margin:0px;">
                                            <div class="item-media"><i class="icon icon-form-radio"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title"></div>
                                            </div>
                                        </label>
                                    </div>

                                    <div class="col-33">
                                        <span class="floating-button-custom bg-green"><i class="fa fa-minus-circle" aria-hidden="true"></i></span>
                                        <label class="label-radio label-radio-keypop item-content top-12 no-ripple" style="padding-left: 16px !important;">
                                            <input type="radio" name="ZvKUwXb6tJn" value="2" class="required">
                                            <div class="item-media"><i class="icon icon-form-radio"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title"></div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-33">&nbsp;</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li id="liReferralsRadio">
                    <div class="item-content">
                        <!--                            <div class="item-media" style="padding-bottom: 35px;"><i class="fa fa-2x" style="font-size: 25px;"></i></div>-->
                        <div class="item-inner">
                            <div class="item-title label"><span data-i18n="SR-HTC.clientReferral">Client Referral to care enrollment</span></div>
                            <div class="item-input" style="margin-top:10px;">
                                <div class="row row1">
                                    <div class="col-25">
                                        <span class="floating-button-custom bg-gray"><img src="images/on-site_1.png" width="50" /></span>
                                        <br />
                                        <span class="label" data-i18n="REF-HIV.onsite">On Site</span>
                                        <label class="label-radio label-radio-keypop item-content top-12 no-ripple" style="padding-left: 16px !important;">
                                            <input type="radio" name="ZdWY8efOQOB" value="1" style="display:block;width:0px;margin:0px;">
                                            <div class="item-media"><i class="icon icon-form-radio"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title"></div>
                                            </div>
                                        </label>
                                    </div>

                                    <div class="col-25">
                                        <span class="floating-button-custom bg-gray"><img src="images/referral_1.png" width="50" /></span>
                                        <br />
                                        <span class="label" data-i18n="REF-HIV.referral">Referral</span>
                                        <label class="label-radio label-radio-keypop item-content top-12 no-ripple" style="padding-left: 16px !important;">
                                            <input type="radio" name="ZdWY8efOQOB" value="2">
                                            <div class="item-media"><i class="icon icon-form-radio"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title"></div>
                                            </div>
                                        </label>
                                    </div>

                                    <div class="col-50">
                                        <span class="floating-button-custom bg-gray" style="margin-left: 27px;"><img src="images/accompanied-referral_1.png" width="50" /></span>
                                        <br />
                                        <span class="label" data-i18n="REF-HIV.accReferral">Accompanied Referral</span>
                                        <label class="label-radio label-radio-keypop item-content top-12 no-ripple" style="padding-left: 45px !important;">
                                            <input type="radio" name="ZdWY8efOQOB" value="3">
                                            <div class="item-media"><i class="icon icon-form-radio"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title"></div>
                                            </div>
                                        </label>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                
                <!--<li id="onsiteActiveReactive">
                    <div class="item-content">
                       
                        <div class="item-inner">
                            <div class="item-title label"><span data-i18n="SR-HTC.status">Status</span></div>
                            <div class="item-input">
                                <div class="row">
                                    <div class="col-33">
                                        <span class="floating-button-custom bg-red"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                                        <label class="label-radio label-radio-keypop item-content top-12 no-ripple" style="padding-left: 16px !important;">
                                            <input type="radio" name="O4qbki4e2cd" value="1">
                                            <div class="item-media"><i class="icon icon-form-radio"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title"></div>
                                            </div>
                                        </label>
                                    </div>

                                    <div class="col-33">
                                        <span class="floating-button-custom bg-green"><i class="fa fa-minus-circle" aria-hidden="true"></i></span>
                                        <label class="label-radio label-radio-keypop item-content top-12 no-ripple" style="padding-left: 16px !important;">
                                            <input type="radio" name="O4qbki4e2cd" value="2">
                                            <div class="item-media"><i class="icon icon-form-radio"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title"></div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-33">&nbsp;</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>-->
                
                <li id="liTreatmentCenterList">
                    <div class="item-content">
                        <!--                            <div class="item-media"><i class="fa fa-compass fa-2x" aria-hidden="true"></i></div>-->
                        <div class="item-inner">
                            <div class="item-title label" data-i18n="SR-HTC.hivTreatmentCenter">HIV Treatment Centre</div>
                            <div class="item-after1 nm-facilities trigger-nearme"><span class="badge"><i class="fa fa-map-marker" aria-hidden="true"></i></span></div>
                            <div class="item-input item-input-field">
                                <select name="fAkDnJQeN53" class="reqiured">
                                    <option value="">-</option>

                                </select>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </form>
        <div class="content-block">
            <a href="#" class="button button-big button-fill button-raised color-red trigger-sr-htc"><span data-i18n="REF-HIV.submit">Submit</span></a>
<!--             <a href="fragments/services-home.html" class="button button-big button-fill button-raised color-indigo" style="margin-top: 20px;"><span data-i18n="service-home.back">Back</span></a>-->
        </div>
    </div>
</div>