<div class="page" data-page="nearme">
    
    <div class="navbar nearme-maps">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="open-panel link icon-only" data-panel="left"><i class="icon icon-bars"></i></a>
            </div>
            <div class="center" style="font-size:15px;"><span data-i18n="menu.nearme">Nearme</span></div>
            <div class="right">
                <a href="#" class="link icon-only reload-nm"><i class="ion-ios-refresh-empty"></i></a>
<!--                <a href="fragments/add-nearme.html" class="link icon-only"><i class="ion-plus-round"></i></a>-->
            </div>
        </div>    
    </div>
    
    <div class="page-content nearme-content">
        <div style="height:auto;padding:10px;z-index: 999;" class="bg-green color-white"><span class="mylocation"></span></div>
        <div class="map-container">
            <div id="nmmap">
            
            </div>
        </div>
        <!-- <div class="progressbar-inline">
        <p><span data-progress="10" class="progressbar"></span></p>
        <div class="buttons-row">
            <a href="#" data-progress="30" class="button button-round tab-link">10</a>
            <a href="#"  data-progress="50" class="button button-round tab-link">20</a>
            <a href="#"  data-progress="100" class="button button-round tab-link">30</a>
          </div>
        </div> -->
        
        <!--<div class="item-content">
            <div class="item-inner">
                <div class="item-input">
                    <div class="range-slider">
                        <input type="range" min="0" max="30" value="" step="10" class="" id="arearange" >
                        <span class="badge bg-green"><span data-i18n="nearme.near"> Near </span>&nbsp;<label id="rangevalue"> </label> <span data-i18n="nearme.km"> Km</span></span>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
    
</div>