<div class="page" data-page="services-commodities">

    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="trigger-back link icon-only"><i class="icon icon-back"></i></a>
            </div>
            <div class="center"><span data-i18n="service-home.Commodities">Commodities</span></div>
            <div class="right">
                <a href="#" data-popover=".popover-links" class="link open-popover"><i class="fa fa-language" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <a href="#" class="floating-button trigger-back color-indigo"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    <div class="page-content">

        <form id="SR_COMM" name="SR_COMM" class="store-data list-block inputs-list">
             
            <div class="row no-gutter">
                <div class="item-title label" data-i18n="servcies.noofCondom" style="padding-left:10px;">Number of condoms provided</div>
                <div class="col-20"><img src="images/condom_2.png" style="padding-left:10px;width:82px;" /></div>
                <div class="col-10">&nbsp;</div>
                <div class="col-20 margin-top-35">
                    <a href="#" class="button button-fill color-gray btn-decrement altera decrescimo">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-20 margin-top-35">
                    <input type="number" name="xv5xVN4Yxqq" style="border: 1px solid rgba(0, 0, 0, 0.65);text-align: center;" />
                </div>
                <div class="col-20 margin-top-35">
                    <a href="#" class="button button-fill color-gray btn-increment altera acrescimo">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-10">&nbsp;</div>
                
            </div>
            <ul>
<!--
                <li>
                    <label class="label-checkbox item-content">
                        <input type="checkbox" name="kJgGDtCwDYl" value="on" />
                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                        <div class="item-inner">
                            <div class="item-title" style="margin-top:5px;">
                                <span data-i18n="servcies.condomOffered">Condom offered but client denied</span>
                            </div>
                        </div>
                    </label>
                </li>
-->
                
                <li>
                    <div class="item-content">
                        <div class="item-inner"> 
                            <div class="item-title label"><span data-i18n="servcies.reasons">Reasons for declined</span></div>
                            <div class="item-input">

                                <select name="kJgGDtCwDYl">
                                    <option value="">-</option>
                                    <option value="1" data-i18n="servcies.condomOffered">Condom offered but client denied</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            
            <br />
            <br />
            
            <div class="row no-gutter">
                <div class="item-title label" data-i18n="servcies.nooflubricants" style="padding-left:10px;">Numbers of lubricants provided</div>
                <div class="col-20"><img src="images/lub.png" style="padding-left:10px;width:82px;" /></div>
                <div class="col-10">&nbsp;</div>
                <div class="col-20 margin-top-35">
                    <a href="#" class="button button-fill color-gray btn-decrement altera1 decrescimo">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-20 margin-top-35">
                    <input type="number" name="Tj7LVYoA3CL" style="border: 1px solid rgba(0, 0, 0, 0.65);text-align: center;" />
                </div>
                <div class="col-20 margin-top-35">
                    <a href="#" class="button button-fill color-gray btn-increment altera1 acrescimo">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-10">&nbsp;</div>
                
            </div>
            <ul>

                <!--<li>
                    <label class="label-checkbox item-content">
                        <input type="checkbox" name="gb44vFC3ENE" value="on" />
                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                        <div class="item-inner">
                            <div class="item-title" style="margin-top:5px;">
                                <span data-i18n="servcies.lubricantOffered">Lubricant offered but client denied</span>
                            </div>
                        </div>
                    </label>
                </li>-->
                <li>
                    <div class="item-content">
                        <div class="item-inner"> 
                            <div class="item-title label"><span data-i18n="servcies.reasons">Reasons for declined</span></div>
                            <div class="item-input">

                                <select name="gb44vFC3ENE">
                                    <option value="">-</option>
                                    <option value="1" data-i18n="servcies.lubricantOffered">Lubricant offered but client denied</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </li>
                <br /><br />
                
                
<!--
                <li>
                    <div class="item-content">
                        <div class="item-media1"><img src="images/iec.png" style="width:70px;"/></div>
                        <div class="item-inner"> 
                            <div class="item-title label" data-i18n="servcies.healthEdu">Health education (IEC) provided</div>
                            <div class="item-input">
                                <select name="K0aQmaEOlZk">
                                    <option value="">-</option>
                                    <option value="1" data-i18n="servcies.yes">Yes</option>
                                    <option value="2" data-i18n="servcies.no">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </li>
-->
                
                
            </ul>
        </form>
        <div class="content-block">
            <a href="#" class="button button-big button-fill button-raised color-red trigger-sr-comm"><span data-i18n="REF-HIV.submit">Submit</span></a>
<!--            <a href="#" class="button button-big button-fill button-raised color-indigo trigger-back" style="margin-top: 20px;"><span data-i18n="service-home.back">Back</span></a>-->
        </div>
    </div>
</div>