<div data-page="services-home" class="page navbar-fixed">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="open-panel link icon-only" data-panel="left"><i class="icon icon-bars"></i></a>
            </div>
            <div class="center" data-i18n="service-home.header">Referral & Services</div>
            <div class="right">
                <a href="#" data-popover=".popover-links" class="link open-popover"><i class="fa fa-language" aria-hidden="true"></i></a>
            </div>
        </div>    
    </div>
    <div class="toolbar tabbar theme-gray">
        <div class="toolbar-inner">
            <a href="#tab1" class="active tab-link"><span data-i18n="service-home.profile">Profile</span></a>
            <a href="#tab2" class="tab-link"><span data-i18n="service-home.service">Services</span></a>
            <a href="#tab3" class="tab-link"><span data-i18n="service-home.lastCaseHistory">Case History</span></a>
        </div>
    </div>
    <div class="tabs-animated-wrap1 tabs-swipeable-wrap">
        <a href="#" class="floating-button color-indigo trigger-home-page"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
        
        <div class="tabs">
            <div id="tab1" class="page-content tab active">
                <div class="content-block">
                    <div>
                        <span class="badge selected-uic" style="text-align:center;width:100%; font-size:15px; background-color:#d32f2f;margin-top:10px;"></span>
                    </div>
                    
                    <form id="profile" name="profile" class="store-data2 list-block inputs-list">
                        <ul>

                            <li>
                                <div class="item-content">
    <!--                                <div class="item-media"><i class="fa fa-male fa-2x" aria-hidden="true"></i></div>-->
                                    <div class="item-inner"> 
                                        <div class="item-title label"><span data-i18n="register.fathersInitials">Father's last name</span><span class="color-red"> *</span></div>
                                        <div class="item-input">
                                            <input type="text" name="hcU0DS208wx" />
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
    <!--                                <div class="item-media"><i class="fa fa-female fa-2x" aria-hidden="true"></i></div>-->
                                    <div class="item-inner"> 
                                        <div class="item-title label"><span data-i18n="register.mothersInitials">Mother's last name</span><span class="color-red"> *</span></div>
                                        <div class="item-input">
                                            <input type="text" name="R7Ll1Hp8XgI" />
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner"> 
                                        <div class="item-title label"><span data-i18n="register.state">State</span><span class="color-red"> *</span></div>
                                        <div class="item-input">
                                            <input type="text" name="nQRMXpjxjGo" />
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
    <!--                                <div class="item-media"><i class="fa fa-area-chart fa-2x" aria-hidden="true" style="font-size: 25px;"></i></div>-->
                                    <div class="item-inner"> 
                                        <div class="item-title label"><span data-i18n="register.townshipOfBorth">Township of birth</span><span class="color-red"> *</span></div>
                                        <div class="item-input">
                                            <input type="text" name="NnnAD4jJqBl" />
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
        <!--                            <div class="item-media" style="padding-bottom: 35px;"><i class="fa fa-users fa-2x" style="font-size: 25px;"></i></div>-->
                                    <div class="item-inner">
                                        <div class="item-title label"><span data-i18n="register.gender">Gender</span><span class="color-red"> *</span></div>
                                        <div class="item-input" style="margin-top:10px;">
                                            <div class="row">
                                                <div class="col-33">
                                                    <span class="floating-button-custom bg-gray"><i class="fa fa-male" for="gender-male"></i></span>
                                                    <label class="label-radio label-radio-keypop item-content top-12 no-ripple" style="padding-left: 16px !important;">
                                                        <input type='radio' name='IClOfxEogHN' value='01' />
    <!--                                                    <input type="radio" name="IClOfxEogHN" id="IClOfxEogHN" value="01" class="required" />-->
                                                        <div class="item-media"><i class="icon icon-form-radio"></i></div>
                                                        <div class="item-inner">
                                                            <div class="item-title"></div>
                                                        </div>
                                                    </label>
                                                </div>

                                                <div class="col-33">
                                                    <span class="floating-button-custom bg-gray"><i class="fa fa-female" for="gender-female"></i></span>
                                                    <label class="label-radio label-radio-keypop item-content top-12 no-ripple" style="padding-left: 16px !important;">
                                                        <input type="radio" name="IClOfxEogHN" id="IClOfxEogHN" value="02" />
                                                        <div class="item-media"><i class="icon icon-form-radio"></i></div>
                                                        <div class="item-inner">
                                                            <div class="item-title"></div>
                                                        </div>
                                                    </label>
                                                </div>


                                                <div class="col-33">
                                                    <span class="floating-button-custom bg-gray"><img style="width:40px" src="images/transgender.svg"/></span>
                                                    <label class="label-radio label-radio-keypop item-content top-12 no-ripple" style="padding-left: 16px !important;">
                                                        <input type="radio" name="IClOfxEogHN" id="IClOfxEogHN" value="03" />
                                                        <div class="item-media"><i class="icon icon-form-radio"></i></div>
                                                        <div class="item-inner">
                                                            <div class="item-title"></div>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
    <!--                                <div class="item-media"><i class="fa fa-calendar fa-2x" aria-hidden="true" style="font-size: 25px;"></i></div>-->
                                    <div class="item-inner">
                                        <div class="item-title label"><span data-i18n="register.yearOfBirth">Year of birth</span><span class="color-red"> *</span></div>
                                        <div class="item-input item-input-field">
                                            <input type="text" name="DaNLHNTlMFK"/>
<!--
                                            <select name="DaNLHNTlMFK">
                                                <option value="">-</option>

                                            </select>
-->
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
    <!--                                <div class="item-media"><i class="fa fa-child fa-2x" aria-hidden="true"></i></div>-->
                                    <div class="item-inner"> 
                                        <div class="item-title label"><span data-i18n="register.nickName">Nick name</span><span class="color-red"> *</span></div>
                                        <div class="item-input">
                                            <input type="text" name="yjsuldl4RAA" />
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
    <!--                                <div class="item-media"><i class="fa fa-mobile fa-2x" aria-hidden="true"></i></div>-->
                                    <div class="item-inner"> 
                                        <div class="item-title label" data-i18n="register.mobileNumber">Mobile number</div>
                                        <div class="item-input1">
                                            <div class="row">
                                                <div class="col-70">
                                                    <input type="number" name="kMJbCoe133i" />
                                                </div>
                                                <div class="col-30">
                                                    <a href="#" class="trigger-call"><i class="fa fa-phone fa-2x" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label"><span data-i18n="register.keyPopulationStatus">Key Population Status</span><span class="color-red"> *</span></div>
                                        <div class="item-input margin-top-10">
                                            <div class="row">
                                                <div class="col-33">
                                                    <span class="floating-button-custom bg-gray group1" data-i18n="register.msw">MSW</span>
                                                    <label class="label-checkbox item-content">
                                                        <input type="checkbox" name="k2x7u7ygYd5" value="1" />
                                                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                                        <div class="item-inner" style="padding-top:13px;margin-left:0px;">

                                                        </div>
                                                    </label>
                                                </div>

                                                <div class="col-33">
                                                    <span class="floating-button-custom bg-gray group1" data-i18n="register.fsw">FSW</span>
                                                    <label class="label-checkbox item-content">
                                                        <input type="checkbox" name="k2x7u7ygYd5_1" value="2" />
                                                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                                        <div class="item-inner" style="padding-top:13px;margin-left:0px;">

                                                        </div>
                                                    </label>
                                                </div>


                                                <div class="col-33">
                                                    <span class="floating-button-custom bg-gray" data-i18n="register.ovp">OVP</span>
                                                    <label class="label-checkbox item-content">
                                                        <input type="checkbox" name="mLOtu6ftELJ" value="1" />
                                                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                                        <div class="item-inner" style="padding-top:13px;margin-left:0px;">

                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!--<li>
                                <div class="item-content">
        
                                    <div class="item-inner">
                                        <div class="item-title label"><span data-i18n="register.keyPopulationStatus">Key Population Status</span><span class="color-red"> *</span></div>
                                        <div class="item-input margin-top-10">
                                            <div class="row">
                                                <div class="col-33">
                                                    <span class="floating-button-custom bg-gray" data-i18n="register.msw">MSW</span>
                                                    <label class="label-radio label-radio-keypop item-content top-12 no-ripple" style="padding-left: 16px !important;">
                                                        <input type="radio" name="k2x7u7ygYd5" value="1">
                                                        <div class="item-media"><i class="icon icon-form-radio"></i></div>
                                                        <div class="item-inner">
                                                            <div class="item-title"></div>
                                                        </div>
                                                    </label>
                                                </div>

                                                <div class="col-33">
                                                    <span class="floating-button-custom bg-gray" data-i18n="register.fsw">FSW</span>
                                                    <label class="label-radio label-radio-keypop item-content top-12 no-ripple" style="padding-left: 16px !important;">
                                                        <input type="radio" name="k2x7u7ygYd5" value="2">
                                                        <div class="item-media"><i class="icon icon-form-radio"></i></div>
                                                        <div class="item-inner">
                                                            <div class="item-title"></div>
                                                        </div>
                                                    </label>
                                                </div>


                                                <div class="col-33">
                                                    <span class="floating-button-custom bg-gray" data-i18n="register.ovp">OVP</span>
                                                    <label class="label-radio label-radio-keypop item-content top-12 no-ripple" style="padding-left: 16px !important;">
                                                        <input type="radio" name="mLOtu6ftELJ" value="3">
                                                        <div class="item-media"><i class="icon icon-form-radio"></i></div>
                                                        <div class="item-inner">
                                                            <div class="item-title"></div>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>-->
                            <div id="ovp-options" style="display:none;">
                                <li>
                                    <label class="label-checkbox item-content">
                                        <input type="checkbox" name="HkZ7E4H0idW" value="on" />
                                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                        <div class="item-inner" style="padding-top:13px;margin-left:0px;">
                                            <div class="item-title"><span data-i18n="register.mobileMigrant">Mobile/Migrant</span></div>
                                        </div>
                                    </label>
                                </li>
                                <li>
                                    <label class="label-checkbox item-content">
                                        <input type="checkbox" name="IPMVF58yEoy" value="on" />
                                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                        <div class="item-inner" style="padding-top:13px;margin-left:0px;">
                                            <div class="item-title"><span data-i18n="register.clientsOftheSexWorker">Clients of the sex workers</span></div>
                                        </div>
                                    </label>
                                </li>
                                <li>
                                    <label class="label-checkbox item-content">
                                        <input type="checkbox" name="PJI4PpOnTpZ" value="on" />
                                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                        <div class="item-inner" style="padding-top:13px;margin-left:0px;">
                                            <div class="item-title"><span data-i18n="register.partnerOfKeyPop">Partner of key population</span></div>
                                        </div>
                                    </label>
                                </li>
                                <li>
                                    <label class="label-checkbox item-content">
                                        <input type="checkbox" name="z57odpUdLbv" value="on" />
                                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                        <div class="item-inner" style="padding-top:13px;margin-left:0px;">
                                            <div class="item-title"><span data-i18n="register.partnerOfPLHIV">Partner of PLHIV</span></div>
                                        </div>
                                    </label>
                                </li>

                                <li>
                                    <label class="label-checkbox item-content">
                                        <input type="checkbox" name="Co5bc87HwdW" value="on" />
                                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                        <div class="item-inner" style="padding-top:13px;margin-left:0px;">
                                            <div class="item-title"><span data-i18n="register.nonInjectionDrugUser">Non-injection drug user</span></div>
                                        </div>
                                    </label>
                                </li>
                                <li>
                                    <label class="label-checkbox item-content">
                                        <input type="checkbox" name="K4BiBsZj0wc" value="on" />
                                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                                        <div class="item-inner" style="padding-top:13px;margin-left:0px;">
                                            <div class="item-title"><span data-i18n="register.other">Other</span></div>
                                        </div>
                                    </label>
                                </li>
                            </div>

                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label" data-i18n="register.whereClientContacted">Where was client contacted</div>
                                        <div class="item-input">
                                           <input type="text" name="RjWEK8DxHiq" />
                                        </div>
                                    </div>
                                </div>
                            </li>
                            
                            <li>
                                <div class="item-content" style="min-height:200px;">
    
                                    <div class="item-inner" id="hotspot-marker"> 
                                        
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
    
                                    <div class="item-inner"> 
                                        <div class="item-title label"><span data-i18n="register.associatedQR">Associated QR Code</span></div>
                                        <div class="item-input">
                                            <input type="text" name="vyWWkQcTa4i" />
                                        </div>
                                    </div>
                                </div>
                            </li>


                        </ul>
                        
                    </form>
                </div>
            </div>
            <div id="tab2" class="page-content tab">
                <div class="content-block">
                    <div>
                        <span class="badge selected-uic" style="text-align:center;width:100%; font-size:15px; background-color:#d32f2f;margin-top:10px;"></span>
                    </div>
                    <div class="ks-grid">
                        <div class="row no-gutter">
                            <div id="SR_HTC" class="ks-demo-icon col-50 tablet-15">
                                <a href="fragments/htc-services.html?backto=services-home">
                                    <div class="icon color-lime"><img src="images/hiv-test-center.png" class="services-svg"/></div>
                                    <div class="icon-name" data-i18n="service-home.htcResult">HTC Result</div>
                                </a>
                            </div>
                            <div id="SR_STI" class="ks-demo-icon col-50 tablet-15">
                                <a href="fragments/sti-services.html?backto=services-home">
                                    <div class="icon color-lime"><img src="images/sti-clinic.png" class="services-svg"/></div>
                                    <div class="icon-name" data-i18n="service-home.stiResult">STI Result</div>
                                </a>
                            </div>
                            <div  id="SR_TB" class="ks-demo-icon col-50 tablet-15">
                                <a href="fragments/tb-services.html?backto=services-home">
                                    <div class="icon color-lime"><img src="images/tb-risk-assessment.png" class="services-svg"/></div>
                                    <div class="icon-name" data-i18n="service-home.tbResult">TB Result</div>
                                </a>
                            </div>
                            <div id="SR_ART" class="ks-demo-icon col-50 tablet-15">
                                <a href="fragments/art-services.html?backto=services-home">
                                    <div class="icon color-lime"><img src="images/tb-risk-assessment.png" class="services-svg"/></div>
                                    <div class="icon-name" data-i18n="service-home.art-center">ART Services</div>
                                </a>
                            </div>

                            <div id="SR_ORW" class="ks-demo-icon col-50 tablet-15">
                                <a href="fragments/hiv-referral.html?backto=services-home" class="trigger-hiv-validate">
                                    <div class="icon color-lime"><img src="images/hiv-test-center.png" class="services-svg"/></div>
                                    <div class="icon-name" data-i18n="service-home.hivTestingCenter"></div>
                                </a>
                            </div>
                            <!--<div id="SR_ORW" class="ks-demo-icon col-50 tablet-15">
                                <a href="fragments/sti-referral.html?backto=services-home" class="trigger-sti-validate">
                                    <div class="icon color-lime"><img src="images/sti-clinic.png" class="services-svg"/></div>
                                    <div class="icon-name" data-i18n="service-home.stiClinic"></div>
                                </a>
                            </div>-->
                            <div id="SR_ORW" class="ks-demo-icon col-50 tablet-15">
                                <a href="fragments/tb-referral.html?backto=services-home">
                                    <div class="icon color-lime"><img src="images/tb-risk-assessment.png" class="services-svg"/></div>
                                    <div class="icon-name" data-i18n="service-home.tbClinic">TB Risk Assessment</div>
                                </a>
                            </div>

                            <div id="SR_ORW" class="ks-demo-icon col-50 tablet-15">
                                <a href="fragments/services.html?backto=services-home">
                                    <div class="icon color-lime"><img src="images/condom.png" class="services-svg"/></div>
                                    <div class="icon-name" data-i18n="service-home.Commodities">Commodities</div>
                                </a>
                            </div>
                            
                            <div id="SR_ORW" class="ks-demo-icon col-50 tablet-15">
                                <a href="fragments/health-education.html?backto=services-home">
                                    <div class="icon color-lime"><img src="images/education.png" class="services-svg"/></div>
                                    <div class="icon-name" data-i18n="service-home.healthEducation">Health Education</div>
                                </a>
                            </div>
                            <div id="SR_ORW" class="ks-demo-icon col-50 tablet-15 hide">
                                <a href="fragments/iec.html?backto=services-home">
                                    <div class="icon color-lime"><img src="images/IEC.png" class="services-svg"/></div>
                                    <div class="icon-name" data-i18n="service-home.iec">IEC</div>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div id="tab3" class="page-content tab">
                <div class="content-block">
                    <div>
                        <span class="badge selected-uic" style="text-align:center;width:100%; font-size:15px; background-color:#d32f2f;margin-top:10px;"></span>
                    </div>
                    <div class="list-block accordion-list">
                        <ul id="services-accordion">
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    
<!--
    
    <div class="page-content" style="top:-17px;">
        
    </div>
-->
</div>


