<div class="page" data-page="statistics">
    
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="open-panel link icon-only" data-panel="left"><i class="icon icon-bars"></i></a>
                <!--<a href="#" class="back link icon-only"><i class="icon icon-back"></i></a>-->
            </div>
            <div class="center">Statistics</div>
            <div class="right">          
                <a href="#barChart" class="link tab-link active"><i class="ion-stats-bars"></i> </a>
                <a href="#pieChart" class="link tab-link"><i class="ion-pie-graph"></i> </a>
                <a href="#lineChart" class="link tab-link"><i class="ion-arrow-graph-up-right"></i> </a>
            </div>
        </div>    
    </div>
    
    <div class="page-content">
        <div class="content-block">
            <div class="tabs-animated-wrap">
                <div class="tabs">
                    <div class="tab active" id="barChart">
                        <div id="barchartcontainer"></div>
                    </div>
                    <div class="tab" id="pieChart">
                        <div id="piechartcontainer"></div>
                    </div>
                    <div class="tab" id="lineChart">
                        <div id="linechartcontainer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>