<div class="page" data-page="REF-STI">

    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="trigger-back link icon-only"><i class="icon icon-back"></i></a>
            </div>
            <div class="center"><span data-i18n="REF-STI.name">STI CLINIC</span></div>
            <div class="right"></div>
        </div>
    </div>
    <a href="#" class="floating-button trigger-back color-indigo"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    <div class="page-content">

        <form id="REF_STI" name="REF_STI" class="store-data list-block inputs-list">
             
            <ul>
                <li>
                    <div class="item-content">  
                        <div class="item-inner">
                            <div class="item-title label"><span data-i18n="REF-STI.symptoms">Symptoms</span></div>
                        </div>
                    </div>
                </li>
                <li>
                    <label class="label-checkbox item-content">
                        <input type="checkbox" name="np6eKnVHikx" value="on" />
                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                        <div class="item-inner">
                            <div class="item-title"><span data-i18n="REF-STI.discharge">Discharge</span></div>
                        </div>
                    </label>
                </li>
                <li>
                    <label class="label-checkbox item-content">
                        <input type="checkbox" name="lIo1hxL4NVx" value="on" />
                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                        <div class="item-inner">
                            <div class="item-title"><span data-i18n="REF-STI.painOnUrination">Pain on urination</span></div>
                        </div>
                    </label>
                </li>
                <li>
                    <label class="label-checkbox item-content">
                        <input type="checkbox" name="yvSsb65OeXS" value="on" />
                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                        <div class="item-inner">
                            <div class="item-title"><span data-i18n="REF-STI.ulcer">Ulcer</span></div>
                        </div>
                    </label>
                </li>
                <li>
                    <label class="label-checkbox item-content">
                        <input type="checkbox" name="e4bIyq3bexC" value="on" />
                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                        <div class="item-inner">
                            <div class="item-title"><span data-i18n="REF-STI.others">Others</span></div>
                        </div>
                    </label>
                </li>
                <li>
                    <div class="item-content">
                        
                        <div class="item-inner"> 
                            <div class="item-title label" data-i18n="REF-STI.specify">Specify</div>
                            <div class="item-input">
                                <input type="text" name="sKKW47zsKep" />
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        
                        <div class="item-inner">
                            <div class="item-title label"><span data-i18n="REF-STI.stiServices">STI Services</span></div>
                            <div class="item-input margin-top-10">
                                <div class="row">
                                    <div class="col-25">
                                        <span class="floating-button-custom bg-gray"><img src="images/on-site_1.png" width="50" /></span>
                                        <br />
                                        <span class="label" data-i18n="REF-HIV.onsite">On Site</span>
                                        <label class="label-radio label-radio-keypop item-content top-12 no-ripple" style="padding-left: 16px !important;">
                                            <input type="radio" name="JZd66Q9cThg" value="1" style="display:block;width:0px;margin:0px;">
                                            <div class="item-media"><i class="icon icon-form-radio"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title"></div>
                                            </div>
                                        </label>
                                    </div>

                                    <div class="col-25">
                                        <span class="floating-button-custom bg-gray"><img src="images/referral_1.png" width="50" /></span>
                                        <br />
                                        <span class="label" data-i18n="REF-HIV.referral">Referral</span>
                                        <label class="label-radio label-radio-keypop item-content top-12 no-ripple" style="padding-left: 16px !important;">
                                            <input type="radio" name="JZd66Q9cThg" value="2">
                                            <div class="item-media"><i class="icon icon-form-radio"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title"></div>
                                            </div>
                                        </label>
                                    </div>

                                    <div class="col-50">
                                        <span class="floating-button-custom bg-gray" style="margin-left: 27px;"><img src="images/accompanied-referral_1.png" width="50" /></span>
                                        <br />
                                        <span class="label" data-i18n="REF-HIV.accReferral">Accompanied Referral</span>
                                        <label class="label-radio label-radio-keypop item-content top-12 no-ripple" style="padding-left: 45px !important;">
                                            <input type="radio" name="JZd66Q9cThg" value="3" class="center-required">
                                            <div class="item-media"><i class="icon icon-form-radio"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title"></div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        
                        <div class="item-inner">
                            <div class="item-title label" data-i18n="REF-STI.stiReferralClinic">Select Referal STI Clinic</div>
                            <div class="item-input item-input-field">
                                <select name="rq5B4SfhaEl">
                                    <option value="">-</option>

                                </select>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </form>
        <div class="content-block">
            <a href="#" class="button button-big button-fill button-raised color-red trigger-ref-sti"><span data-i18n="REF-HIV.submit">Submit</span></a>
<!--             <a href="#" class="button button-big button-fill button-raised color-indigo trigger-back" style="margin-top: 20px;"><span data-i18n="service-home.back">Back</span></a>-->
        </div>
    </div>
</div>