<div class="page" data-page="REF-TB">

    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="trigger-back link icon-only"><i class="icon icon-back"></i></a>
            </div>
            <div class="center"><span data-i18n="REF-TB.name">TB CLINIC</span></div>
            <div class="right">
                <a href="#" data-popover=".popover-links" class="link open-popover"><i class="fa fa-language" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <a href="#" class="floating-button trigger-back color-indigo"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    <div class="page-content">

        <form id="REF_TB" name="REF_TB" class="store-data list-block inputs-list">
             
            <ul>
                <li>
                    <div class="item-content">  
                        <div class="item-inner">
                            <div class="item-title label"><span data-i18n="REF-STI.symptoms">Symptoms</span></div>
                        </div>
                    </div>
                </li>
                <li>
                    <label class="label-checkbox item-content">
                        <input type="checkbox" name="qpl6nE8bbpA" value="on" />
                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                        <div class="item-inner">
                            <div class="item-title"><span data-i18n="REF-TB.cough">Current Cough</span></div>
                        </div>
                    </label>
                </li>

                <li>
                    <label class="label-checkbox item-content">
                        <input type="checkbox" name="zfOiLVoBi0M" value="on" />
                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                        <div class="item-inner">
                            <div class="item-title"><span data-i18n="REF-TB.FeverEveningTemperature">Fever</span></div>
                        </div>
                    </label>
                </li>
                <li>
                    <label class="label-checkbox item-content">
                        <input type="checkbox" name="tP6hvpgrUDR" value="on" />
                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                        <div class="item-inner">
                            <div class="item-title"><span data-i18n="REF-TB.lossOfWeight">Weight loss</span></div>
                        </div>
                    </label>
                </li>
                <li>
                    <label class="label-checkbox item-content">
                        <input type="checkbox" name="tdO7Qivuhy8" value="on" />
                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                        <div class="item-inner">
                            <div class="item-title"><span data-i18n="REF-TB.DrenchingNightSweats">Drenching night sweats</span></div>
                        </div>
                    </label>
                </li>
                <!--<li>
                    <label class="label-checkbox item-content">
                        <input type="checkbox" name="Ekvn5laKFSN" value="on" />
                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                        <div class="item-inner">
                            <div class="item-title"><span data-i18n="REF-TB.bloodSputum">Blood in sputum</span></div>
                        </div>
                    </label>
                </li>
                <li>
                    <label class="label-checkbox item-content">
                        <input type="checkbox" name="I5tb8jGA3W8" value="on" />
                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                        <div class="item-inner">
                            <div class="item-title"><span data-i18n="REF-TB.chestPain">Chest pain</span></div>
                        </div>
                    </label>
                </li>
                <li>
                    <label class="label-checkbox item-content">
                        <input type="checkbox" name="ucxkrIudSs5" value="on" />
                        <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                        <div class="item-inner">
                            <div class="item-title"><span data-i18n="REF-TB.shortnessOfBreath">Shortness of breath</span></div>
                        </div>
                    </label>
                </li>-->
                <li class="tb-suspect-msg" style="display:none;">
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title color-red" data-i18n="REF-TB.warningMsg">This Client seems to be a TB suspected Case, please refer him / her to a TB testing centre from the list below</div>
                        </div>
                    </div>
                </li>
                
<!--
                <li>
                    <div class="item-content">
                        
                        <div class="item-inner">
                            <div class="item-title label" data-i18n="REF-TB.referralService">Referral Service</div>
                            <div class="item-input item-input-field">
                                <select name="cxwnAFG638v">
                                    <option value="">-</option>
                                    <option value="1" data-i18n="REF-TB.referForCXR">Refer for sputum/CXR</option>
                                    <option value="2" data-i18n="REF-TB.noReferral">No referral required</option>
                                </select>

                            </div>
                        </div>
                    </div>
                </li>
-->
                <li class="tb-suspect-msg" style="display:none;">
                    <div class="item-content">
                        
                        <div class="item-inner">
                            <div class="item-title label" data-i18n="REF-TB.tbCenters">TB diagnostic centers</div>
                            <div class="item-after1 nm-facilities trigger-nearme"><span class="badge"><i class="fa fa-map-marker" aria-hidden="true"></i></span></div>
                            <div class="item-input item-input-field">
                                <select name="pQlw1ekDWQr">
                                    <option value="">-</option>
                                    
                                </select>

                            </div>
                        </div>
                    </div>
                </li>
                
            </ul>
        </form>
        <div class="content-block">
            <a href="#" class="button button-big button-fill button-raised color-red trigger-ref-tb"><span data-i18n="REF-HIV.submit">Submit</span></a>
<!--             <a href="#" class="button button-big button-fill button-raised color-indigo trigger-back" style="margin-top: 20px;"><span data-i18n="service-home.back">Back</span></a>-->
        </div>
    </div>
</div>