<div class="page" data-page="user-profile">
    
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="open-panel link icon-only" data-panel="left"><i class="icon icon-bars"></i></a>
                <!--<a href="#" class="back link icon-only"><i class="icon icon-back"></i></a>-->
            </div>
            <div class="center"><span data-i18n="menu.profile">My Profile</span></div>
            <div class="right">                
                <!--<a href="fragments/notifications.html" class="link icon-only"><i class="ion-ios-bell"></i></a>-->
            </div>
        </div>    
    </div>
    
    <div class="page-content">
        <div class="content-block" style="margin-top:0px;">
            <div class="list-block inputs-list">
                <div id="aplaca-container"></div>
            </div>
        </div>
        <div class="content-block hide">
            <a href="#" class="button button-big button-fill button-raised color-green trigger-update-profile"><span data-i18n="userProfile.updateProfile">Update Profile</span></a>
        </div>
    </div>
    
</div>